In [3]:
import pandas as pd
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split

In [21]:
Data = pd.read_csv('Shuffled_Feature_MalwareGoodware_Unweighted.csv',header=None,low_memory=False)
Data.head()

,0,1,2,3,4,5,6,7,8,9,...,4600,4601,4602,4603,4604,4605,4606,4607,4608,4609
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,1

In [25]:
Data_feature = Data.drop(Data.columns[4609],axis=1)
Data_feature.head()

Result = Data[Data.columns[4609]]
Result.head(10)

0    1
1    1
2    1
3    0
4    1
5    0
6    1
7    1
8    0
9    0
Name: 4609, dtype: int64